.Dragon {
    max-width: 1200px;
    min-height: 580px;
    margin: 130px auto;
}

.Dragon h1 {
    font-weight:bold ;
    font-size: 50px;
}

.Dragon p {
    margin: 0;
}

.Dragon a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.Dragon table {
    width: 100%;
}

.Dragon tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    line-height: 2;
    font-weight:bold ;
}

.Dragon tr span {
    opacity: 0.5;
}

.Dragon .dragonInfo {
    margin: auto;
    font-size: 20px;
}

@media (max-width:991px) {
    .Dragon {
        margin: 80px auto;
    }

    .Dragon .dragonInfo {
        padding: 0 40px;
        text-align: center;
    }
}

@media (max-width:767px) {
    .Dragon .dragonInfo {
        font-size: 16px;
    }
}

@media (max-width:600px) {
    .Dragon .dragonInfo {
        padding: 0 20px;
        text-align: center;
    }
}

@media (max-width:420px) {
    .Dragon {
        margin: 40px auto;
    }

    .Dragon .dragonInfo {
        padding: 0 10px;
    }

    .Dragon h1 {
        font-weight:bold ;
        font-size: 35px;
    }
}