.DragonsAccordion {
    margin: 130px auto;
    max-width: 1200px;
}

.DragonsAccordion h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 60px;
}

.DragonsAccordion button {
    font-size: 20px;
    font-weight: bold;
}

.DragonsAccordion .description{
    margin-top: 20px;
}

.DragonsAccordion a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.DragonsAccordion .dragon-img {
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .DragonsAccordion {
        padding: 0 40px;
    }
}

@media (max-width:767px) {
    .DragonsAccordion .description {
        text-align: center;
    }
}

@media (max-width:600px) {
    .DragonsAccordion {
        margin: 80px auto;
    }
    .DragonsAccordion {
        padding: 10px;
    }
}

@media (max-width:420px) {
    .DragonsAccordion {
        margin: 80px auto;
    }
    .DragonsAccordion {
        padding: 0px;
    }

    .DragonsAccordion h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .DragonsAccordion .description{
        margin-top: 5px;
    }
}